<?xml version="1.0"?>
<launch>

  <arg name="fake_ft" default="true" />

  <!-- Launch the wrist dynamics node -->
  <include file="$(find artificial_hands_dynamics)/launch/wrist_dynamics_node.launch">
    <arg name="rate" value="50"/>
  </include>

  <!-- Bringup the FT sensor (fake or real hw)-->
  <node if="$(arg fake_ft)" pkg="artificial_hands_nodes" type="fake_ft_sensor_node.py" name="fake_ft_sensor" output="screen"/>
  <include unless="$(arg fake_ft)" file="$(find artificial_hands_bringup)/launch/onrobot_ft_sensor_bringup.launch">
    <arg name="address" value="192.168.10.102" />
  </include>

  <!-- Load @fraiori0 dmp_extended node -->
  <include file="$(find dmp_extended)/launch/dmp_node.launch"/>

  <!-- Load @fraiori0 minimum_jerk_se3_tracker -->
  <include file="$(find minimum_jerk_se3_tracker)/launch/dualmj_ros_tracker.launch"/>

  <!-- Run the trajectory generator node -->
  <node pkg="artificial_hands_nodes" type="cartesian_trajectory_generator_node.py" name="cartesian_trajectory_generator_node" output="screen"/>

  <!-- Run the trajectory monitor node -->
  <node pkg="artificial_hands_nodes" type="cartesian_trajectory_tf_monitor_node.py" name="cartesian_trajectory_tf_monitor_node" output="screen"/>

  <!-- Run the low level engine node -->
  <node pkg="hr_release" type="hr_execution_modules_node.py" name="hr_execution_modules_node" output="screen"/>

</launch>